
	<div class="section home" id="nav">
		<div class="center">
			<div id="search">
				<div class="search-module">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="PLATE NUMBER">
						<div class="search-close cancel">X</div>
					</form>	
				</div>
			</div>	
			<div class="main-links"><a href="/" class="home">home</a> WHO TOWED ME</div>
				<h1>
						<span class="plate">WHO TOWED ME</span>
				</h1>
				
			
			<div class="lincoln"></div>
		</div>

		
	</div>


	<%= render "/queries/make_list"%>

	<div class="section" id="poster">
		<div class="search_button"><h1>WHO<em>&nbsp;</em>TOWED<em>&nbsp;</em>ME</h1><p>Search all vehicles towed<br/>by the City of Chicago.</p>		
</div>	
		<div class="overlay"></div>
		
	</div>	


<!--
<div class="modal">
	
	<div class="container">
		
			<form action="/lookup/plate/">
				<input name="plate" type="text" id="plate_search" placeholder="<%= @plate_search %>">
			</form>	
			<h5>Search by Make instead. <em>Not sure about your plate number?</em></h5>
		
		
		
		
	</div>	
	
</div>	



-->
	
	<div class="home footer"><p>2015 <em>Built for Chicago by 11hundred.</em></p></div>
	