	<div class="section home" id="search">
		<div class="center">
			<h2>Car missing? Search below:</h2>
			<form action="/lookup/plate/">
				<input name="plate" type="text" placeholder="<%= @plate_search %>">
			</form>	
			<p> Search by plate: </p>
		</div>
	</div>
