

	<div class="section" id="nav">
		<div class="center">
			<div id="search">
				<div class="search-module">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="PLATE NUMBER">
						<div class="search-close cancel">X</div>
					</form>	
				</div>
			</div>	
			<div class="main-links"><a href="/" class="home">home</a> Towed Vehicle Search</div>
				<h1>
						WHO TOWED ME
					<span class="menu search_button">Search</span>	
				</h1>
				
			
			<div class="lincoln"></div>
		</div>
	</div>

	<%= render "/queries/make_list"%>






<!--
<div class="modal">
	
	<div class="container">
		
			<form action="/lookup/plate/">
				<input name="plate" type="text" id="plate_search" placeholder="<%= @plate_search %>">
			</form>	
			<h5>Search by Make instead. <em>Not sure about your plate number?</em></h5>
		
		
		
		
	</div>	
	
</div>	



-->