
	<div class="section" id="home">
		
		<div class="center sign">
			<div class="interior">
			<div class="title">
				<div class="wrapper">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="Search Now">
					</form>	
					<h1>Who<em>&nbsp;</em>Towed<em>&nbsp;</em>Me?</h1>
					<p>(Rahm did.)<br/>Thanks Obama.</p>
					<a href="#" class="search_button">Search by Plate</a>
					<a href="#" class="make_button">Search by Make</a>
				</div>
			</div>
		</div>

	</div>	
	</div>	


<!--
<div class="modal">
	
	<div class="container">
		
			<form action="/lookup/plate/">
				<input name="plate" type="text" id="plate_search" placeholder="<%= @plate_search %>">
			</form>	
			<h5>Search by Make instead. <em>Not sure about your plate number?</em></h5>
		
		
		
		
	</div>	
	
</div>	



-->