	<div class="section home" id="search">
		<div class="center">
			<nav>search by: <a href="#">plate</a> <a href="#">make</a> <a href="/">home</a></nav>
			<div class="lincolns">
				<div class="lincoln"></div>	
			</div>	
			<div class="title">
				<h1><span class="words">who</span><em>&nbsp;</em><span class="words">towed</span><em>&nbsp;</em><span class="words">me?</span></h1>
			</div>
		</div>
		<div class="overlay">
		</div>
	</div>
<!--
<div class="modal">
	
	<div class="container">
		
			<form action="/lookup/plate/">
				<input name="plate" type="text" id="plate_search" placeholder="<%= @plate_search %>">
			</form>	
			<h5>Search by Make instead. <em>Not sure about your plate number?</em></h5>
		
		
		
		
	</div>	
	
</div>	



-->