	<div class="section" id="nav">
		<div class="center">
			<div class="lincoln"></div>	
			<div class="title">
				<div class="wrapper">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="Search Now">
					</form>	
					<h1>
						<span class="words">who</span>
						<em>&nbsp;</em>
						<span class="words">towed</span>
						<em>&nbsp;</em>
						<span class="words">me?</span>
					</h1>
				</div>
			</div>
		</div>
	</div>


<!--
<div class="modal">
	
	<div class="container">
		
			<form action="/lookup/plate/">
				<input name="plate" type="text" id="plate_search" placeholder="<%= @plate_search %>">
			</form>	
			<h5>Search by Make instead. <em>Not sure about your plate number?</em></h5>
		
		
		
		
	</div>	
	
</div>	



-->