
	

	<div class="section home" id="nav">
		<div class="center">
			<div id="search">
				<div class="search-module">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="PLATE NUMBER">
						<div class="search-close cancel">X</div>
					</form>	
				</div>
			</div>	
			<div class="main-links"><a href="/" class="home">home</a> WHO TOWED ME</div>
				<h1>
						<span class="plate">WHO TOWED ME</span>
				</h1>
				
			
			<div class="lincoln"></div>
		</div>

		
	</div>


	<%= render "/queries/make_list"%>

	<div class="section" id="poster">
		<div class="open-close">info</div>
		<div class="overlay">
			<p>Who Towed Me searches the <a href="https://data.cityofchicago.org/Transportation/Towed-Vehicles/ygr5-vcbg">City of Chicago database</a> of recently towed vehicles.<br/> 
				You can search by plate or make to find if your car has been towed. <em>Please note that there may be a slight delay after a vehicle is towed until it shows up in the database.</em></p>
			
		</div>
		
		<div class="title">
			<h4>WHO<em>&nbsp;</em>TOWED<em>&nbsp;</em>ME</h4>
			<h4 class="bottom">CHICAGO<em>&nbsp;</em>TOWED<em>&nbsp;</em>VEHICLES</h4>
			
			
			<div class="search_button">Search Now</div>
				
</div>	
		
	</div>	


<!--
<div class="modal">
	
	<div class="container">
		
			<form action="/lookup/plate/">
				<input name="plate" type="text" id="plate_search" placeholder="<%= @plate_search %>">
			</form>	
			<h5>Search by Make instead. <em>Not sure about your plate number?</em></h5>
		
		
		
		
	</div>	
	
</div>	



-->
	
	<!-- <div class="home footer"><p>Built for Chicago by 11hundred.</p></div> -->
	