/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/


html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size:14px;
	font-family: 'Vitesse A', 'Vitesse B'; font-weight: 400; font-style: normal;
}

input,
input [type="text"]{
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-appearance: none;
	border-radius: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	padding:0;
	margin:0;
}

h1 {
	text-align:center;
	font-size:20em;
	font-family: 'Tungsten A', 'Tungsten B'; font-weight: 500; font-style: normal;
}

h2 {
	font-size:4em;
	margin:0;
	
}
h3 {
	font-size:1.5em;
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
}
h4 {
	color:#666;
	line-height:1.75em;
	text-align:center;
}

a {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
	text-decoration:none;
	text-transform:uppercase;
}

ul li {
	list-style:none;
	padding:0;
	margin:0;
}

input[type="text"] {
	border:none;
	outline:none;
	background:none;
	width:100%;
	font-family: 'Tungsten A', 'Tungsten B'; font-weight: 500; font-style: normal;
	text-align:center;
}


.section {
	display:block;
	width:100%;
	position:relative;
}
.section#plate-detail {
	height:750px;
	padding:0px 0;
	background-image:url(lincoln-head.jpg);
	background-position:center;
}
.section#nav {
	height:350px;
	background:none;
	border-bottom:1px solid #aaa;
}
.section#home {
	background-image:url(map_bg.jpg);
	background-position:center;
	background-size:cover;
	margin:0;
	padding:0;
	float:left;
	
}
.section#footer {
	background: #454543;
	float: left;
}
.section .sign {
	border:10px solid #cc0000;
	width:auto;
	margin:30px auto;
	border-radius:20px;
	background:#fff;
	overflow: hidden;
}

#map-canvas {
	height:500px;
	padding: 0px
}


nav {
	width:100%;
	position:fixed;
	position:relative;
	bottom:0px;
	height:75px;
	background:#fff;
	border-top:1px solid #ddd;
	z-index:9;
}

.wrapper {
	display: inline-block;
	position: relative;
}
.container {
	max-width: 750px;
	width: 100%;
	height: 150px;
	background: #fff;
	position: relative;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 0px 1px 7px rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.2);
}

.center {
	max-width:961px;
	margin:0 auto;
	padding:0 30px;
	position:relative;
	padding-top:0px;
}
.sign.center {
	padding:0;
}
.section#plate-detail h1 {
	width:100%;
	text-align:center;
	margin-top:6%;
}
.section.home#search h2,
.section#plate-detail h2 {
	font-size:2em;
	padding:80px 0 0;
	text-align:center;
}
.section#plate-detail h4 {
	border-top:2px solid #ddd;
	width:auto;
	margin:0 auto;
	padding:5px 0;
}
.section#plate-detail h3 {
	width:100%;
	position:absolute;
	text-align:center;
	text-transform:uppercase;
	color:#cc0000;
	bottom:50px;
}

.plate-details {
	border-top: 3px solid rgba(234, 232, 232, 0.65);
	padding: 30px;
	background:#F7F6F0;
}
.make {
	background: #F7F6F0;
	border-top: 3px solid rgba(234, 232, 232, 0.65);
	padding: 30px;
	width:auto;
	float:left;
}

.number {
	font-family: 'Tungsten A', 'Tungsten B'; font-weight: 500; font-style: normal;
}


#nav ul {
	position: absolute;
	width: 100%;
	left: 0px;
	padding: 0px;
	margin: 0px;
	top: 10px;
	z-index:4;
}

#nav ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 50%;
	padding-left: 30px;
	float: left;
	text-align: left;
	width: 50%;
	position: relative;
}

#nav ul li:first-child {
	float: left;
	text-align: left;
	width:40px;
	padding:0;
	margin-left:30px;
	text-indent: -999em;
	background-image:url(who_star.png);
	background-position:0 center;
	background-size:20px;
	background-repeat:repeat;
	height:20px;
}

#nav ul li a {
	font-family:inherit;
	color:#aaa;
	font-size:inherit;
	font-weight:inherit;
	text-transform:none;
	border-bottom:2px solid #ddd;

}
#nav ul li:first-child a {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:none;
}

ul.list {
	margin:0;
	padding:0;
	width:100%;
	height:auto;
	display:block;
	padding: 30px 0;
	float: left;
}
ul.list li {
	padding:10px 0px;
	float:left;
	width:100%;
	height:auto;
	display:block;
	position:relative;
	transition: background 1s;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	-o-transition: background 1s;
	
}
ul.list li a {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	text-indent:-9999em;
	z-index:99;
}
ul.list li h2 {
	float:left;
	text-align:center;
	width:100%;
	padding:50px 0;
}
ul.list li .container {
	margin:0 auto;
	height:250px;
}
ul.list li:hover {
	
}
h2 .state {
	border: 1px solid #eee;
	padding: 5px 10px;
	margin-right: 25px;
	border-radius: 3px;
	margin-top: 14px;
	position: relative;
	font-size: .45em;
	background: #fff;
	width:60px;
	top:-10px;
	text-align: center;
}

.sign .wrapper {
	padding:15px;
}


.details h4 {
	padding-left:20px;

}
.details {
	padding: 30px 0;
	width: 100%;
	text-align: center;
	float: left;
	margin: 0;
	border: none;
	border-top: 1px solid #ddd;
}

.details h4 {
	padding-left: 20px;
	text-align: center;
	padding: 0;
}

input#plate_search {
	padding:0;
	border-bottom: 5px solid #111;
	background: #fff;
	display:none;
	width: 400px;
	position: absolute;
	left: 0px;
	top: 20px;
	text-align: left;
	font-size: 9em;
}

input#plate_search.active {
	display:block;
}



.plate-details h4 {
	border-top: 2px solid #ddd;
	padding:10px 0;
	text-align:left;
}
.plate-details h4.first {
	border:none;
}


ul.makes {
	width:300px;
	margin:0 auto;
	height:450px;
	background:#fff;
	border-radius:5px;
	overflow:hidden;
	overflow-y:scroll;
}
ul.makes li {
	margin:10px 0;
	width:100%;
	padding:5px 0;
	height:40px;
	text-align:center;
	float:left;
	border-bottom:1px solid #ddd;
}

ul.makes li a {
	color:#111;
	font-size:2em;
}

.lincoln {
	background-image:url(lincoln-head.jpg);
	background-position:center;
	background-size:cover;
	width:300px;
	height:400px;
	position:absolute;
	left:50%;
	margin-left:-150px;
	margin-top:-100px;
}

.title {
	position:relative;
	width:100%;
	height:200px;
	margin:0 auto;
	z-index:1;
	text-align:center;
	padding-top:60px;
	
}

.interior {
	max-width:1922px!important;	
}
.interior.active {
	margin-left:-200px;
}

.sign .title {
	background-image:url(tow_car.jpg);
	background-position:center 10%;
	background-size:200px;
	background-repeat:no-repeat;
	float:left;
	max-width:961px!important;	
	
}
.title h1 {
	background-image:url(who_bar.png);
	background-position:center bottom;
	background-size:100% 10px;
	background-repeat:no-repeat;
	font-size:09em;
	color:#cc0000;
	text-transform:uppercase;
	padding:20px 0;
	min-width:600px;
	transition: background .5s;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
}
.title h1 em {
	background-image:url(who_star.png);
	background-position:center;
	background-size: 35px;
	background-repeat: no-repeat;
	width: 30px;
	display: inline-block;

}
.title.active h1 {
	background-image:url(who_bar.png), url(who_bar.png);
	background-position:center top, center bottom;
	background-size:100% 20px;
	transition: background .5s;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
}
.title h1 .plate  {
	min-width: 450px;
	position: relative;
	display: inline-block;
	text-align: left;
}
.title h1 .menu  {
	text-indent:-999em;
	background-image:url(mag-glass.png);
	background-position:center;
	background-size:50px;
	background-repeat:no-repeat;
	width: 190px;
	position: relative;
	display: inline-block;
	float:right;
}


.title p {
	text-align:center;
	padding:10px 0 40px 0;
}

.sign .title h1 {
	background-image:url(who_bar.png), url(who_bar.png);
	background-position:center top, center bottom;
	background-size:100% 20px;
}
.sign .title h1.active {
	text-indent:-999em;
}

.sign .title p {
	float: left;
	padding:10px 0 10px 0;
	width: 100%;
}

.makes {
	float: left;
}
.title a {
	background:#111;
	padding:20px 40px;
	position:relative;
	text-align:center;
	color:#fff;
}
.title .wrapper a {
	float:left;
	margin:30px 5px 0;
}

.overlay {
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	z-index:0;
	background:rgba(0,0,0,0.1);
	display:none;
}
.bar {
	z-index:10;
	position:fixed;
	bottom:0px;
	width:50%;
	background:#fff;
	height:50px;
	left:25%;
}

.overlay.active {
	display:block;
}
.active .container {
	top:25%;
}


.container input[type="text"] {
	width:100%;
	text-align:left;
	font-size:3em;
	border-bottom:2px solid #111;
	text-transform:uppercase;
	text-indent:20px;
	padding:20px 0;
}

button {
	position: absolute;
	right: 0px;
	top: 33px;
	padding: 10px 30px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 3px;
	right: 20px;
	text-transform:uppercase;
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;

}
.plate-details h4 a {
	font-family:inherit;
	text-transform:inherit;
	color:inherit;
	text-decoration:underline;
}

.modal {
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:rgba(0,0,0,0.3);
	position:absolute;
	z-index:9;
	display:none;
}

@media all and (min-width:768px) {

input#plate_search {
padding: 0;
border-bottom: none;
background: #fff;
display: none;
width: 400px;
position: absolute;
left: 15px;
top: 40px;
text-align: left;
font-size: 9em;
height: 145px;
}
}
@media all and (max-width:768px) {
	.wrapper {
		display: block;
	}
	.section#nav {
		height:125px;
	}
	.section.home#nav {
		height:550px;
	}
	.section .sign {
		margin:30px;
	}
	.container {
		margin-left:0px;
	}
	.lincoln {
	}

	.title h1,
	h1 {
		font-size:3.5em;
	}
	.title h1, h1 {
		font-size: 2.25em;
	}
	
	.title {
		padding-top: 45px;
		height:auto;
	}
	.title h1 {
		background-image:url(who_bar.png);
		background-position:left bottom;
		background-size: 225px 5px;
		background-repeat: no-repeat;
		padding: 10px 0;
		text-align: left;
		min-width: 200px;
		width: 100%;
		float: left;
	}		
	.title h1 em {
		background-image:url(who_star.png);
		background-position:center;
		background-size:15px;
		background-repeat:no-repeat;
		width:20px;
		display: inline-block;

	}
	.title h1 .plate {
		min-width: 150px;
	}
	.title a {
		font-size:.8em;
	}		
	.sign .title h1 {
		text-align:center;
		background-position:center bottom;
		background-size: 100% 5px;
		font-size:3em;
	}
	.sign .title h1 {
		background-image:url(who_bar.png), url(who_bar.png);
		background-position:center top, center bottom;
		background-size:100% 5px;
	}
	ul.makes li {
		width: auto;
		padding: 70px 0;
		float: none;
	}
	ul.makes li a {
		font-size:1.4em;
	}
	
	ul.list li {
		height:auto;
	}
	ul.list li h2 {
		width: 100%;
	}

	#map-canvas {
		height:250px;
		padding: 0px
	}

	.title h1 .menu {
		width: 70px;
		background-position: right center;
	}


	input#plate_search {
		width: 225px;
		text-align: left;
		font-size: 2.25em;
		top: 10px;
		padding-bottom:10px;
		z-index:9999;

	}
	#home input#plate_search {
	width: 90%;
	border-bottom: none;
	font-size: 3em;
	top: 25px;
	padding-bottom: 5px;
	z-index: 9999;
	left: 15px;
	text-transform: uppercase;
	background: none;
	}

	.title .wrapper a {
		width: 100%;
		margin: 0 0 10px 0;
		padding: 20px 0;
	}

}
