<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Who Towed Me?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/731360/749444/css/fonts.css" />

</head>


<body>


	<%= yield %>
	

	<div class="section" id="makes">
			<ul class="makes center">		
				<li>
					<a href="/lookup/make/ACUR">Acura</a>
				</li>
				<li>
					<a href="/lookup/make/AUDI">AUDI</a>
				</li>
				<li>
					<a href="/lookup/make/BMW">BMW</a>
				</li>
				<li>
					<a href="/lookup/make/BUIC">Buick</a>
				</li>
				<li>
					<a href="/lookup/make/CADI">Cadillac</a>
				</li>
				<li>
					<a href="/lookup/make/DODG">Dodge</a>
				</li>
				<li>
					<a href="/lookup/make/FORD">Ford</a>
				</li>
				<li>
					<a href="/lookup/make/HOND">Honda</a>
				</li>
				<li>
					<a href="/lookup/make/HYUN">Hyundai</a>
				</li>
				<li>
					<a href="/lookup/make/INFI">Infiniti</a>
				</li>
			</ul>
		</div>
	</div>
	
	
	
<script>
	$('#search_plates').click( function() {
	    $('.title').addClass("active");	
	    $('.overlay').addClass("active");	
	    $('#plate_search').focus();	
	});
	$('.modal').click( function() {
	    $('.overlay').fadeOut();	
	    $('.overlay').removeClass("active");	
	    $('.title').removeClass("active");	
	});
	
	
	$(document).ready(function(){
	    animateDiv();
    
	});

	function makeNewPosition(){
    
	    // Get viewport dimensions (remove the dimension of the div)
	    var h = 350;
	    var w = 650;
    
	    var nh = Math.floor(Math.random() * h);
	    var nw = Math.floor(Math.random() * w);
    
	    return [nh,nw];    
    
	}

	function animateDiv(){
	    var newq = makeNewPosition();
	    var oldq = $('.lincoln').offset();
	    var speed = calcSpeed([oldq.top, oldq.left], newq);
    
	    $('.lincoln').animate({ top: newq[0], left: newq[1] }, speed, function(){
	      animateDiv();        
	    });
    
	};

	function calcSpeed(prev, next) {
    
	    var x = Math.abs(prev[1] - next[1]);
	    var y = Math.abs(prev[0] - next[0]);
    
	    var greatest = x > y ? x : y;
    
	    var speedModifier = 0.02;

	    var speed = Math.ceil(greatest/speedModifier);

	    return speed;

	}
	
	
	</script>	
	

</body>
</html>
